Repository sparcs-kaist/sparcs.org-v3, pull requests merged in 2023-08, with the labels that each got.

#72 chore: add ESLint and Prettier with GitHub actions
  .eslintrc.js
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc
  babel.config.js
  docusaurus.config.js
  package-lock.json
  package.json
  sidebars.js
  src/components/HomepageFeatures/index.tsx
  src/components/ProjectLogo/index.tsx
  src/css/custom.css
  src/pages/index.tsx
Labels: chore

#35 update blog : gitops (230503)
  blog/2023/index.md
  blog/authors.yml
Labels: blog

#37 blog: Terraform Basics
  blog/2023/05-05-minseong/TerraformWorkTypes.png
  blog/2023/05-05-minseong/diagram.png
  blog/2023/05-05-minseong/index.md
  blog/authors.yml
Labels: blog

#38 blog: 05-05-default
  blog/2023/05-05-default/index.md
  blog/2023/05-05-default/trend.svg
  blog/2023/05-05-default/vs.png
  blog/authors.yml
Labels: blog

#69 blog: 05-15-lobe
  blog/2023/05-08-lobe/index.md
  blog/authors.yml
Labels: blog

#68 blog: 05-15-snowsuno
  blog/2023/05-15-snowsuno/dongbang.png
  blog/2023/05-15-snowsuno/index.md
  blog/2023/05-15-snowsuno/mixed-content.png
  blog/authors.yml
Labels: blog

#66 blog: 05-15-macintosh
  blog/2023/05-15-macintosh/assets/ai_vs_ai.webp
  blog/2023/05-15-macintosh/assets/bing-ai-tips.png
  blog/2023/05-15-macintosh/assets/exposures.jpg
  blog/2023/05-15-macintosh/assets/fireworks.jpeg
  blog/2023/05-15-macintosh/assets/hdr.jpeg
  blog/2023/05-15-macintosh/assets/homography.png
  blog/2023/05-15-macintosh/assets/ldr_debevec.jpg
  blog/2023/05-15-macintosh/assets/midjourney-portrait.jpg
  blog/2023/05-15-macintosh/assets/night_sight_whitebalance.webp
  blog/2023/05-15-macintosh/assets/nohdr-land.JPG
  blog/2023/05-15-macintosh/assets/nohdr-sky.JPG
  blog/2023/05-15-macintosh/assets/panorama.png
  blog/2023/05-15-macintosh/assets/pixel_night_sight.webp
  blog/2023/05-15-macintosh/assets/sony-shimizu-chu.jpg
  blog/2023/05-15-macintosh/assets/steve_mann_1.jpg
  blog/2023/05-15-macintosh/assets/steve_mann_2.jpg
  blog/2023/05-15-macintosh/index.md
  blog/authors.yml
Labels: blog

#65 blog: 05-15-happycastle
  blog/2023/05-15-happycastle/index.md
  blog/authors.yml
Labels: blog

#63 blog: 05-14-phenol
  blog/2023/05-14-phenol/BB84-protocol-2.jpg
  blog/2023/05-14-phenol/BB84-protocol.png
  blog/2023/05-14-phenol/Google-Sycamore.jpg
  blog/2023/05-14-phenol/Shor-Algorithm.jpeg
  blog/2023/05-14-phenol/index.md
  blog/authors.yml
Labels: blog

#61 blog: 05-15-retro
  blog/2023/05-15-retro/index.md
  blog/2023/05-15-retro/insertion.png
  blog/2023/05-15-retro/survey.png
Labels: blog

#59 blog: 05-14-suwon
  blog/2023/05-14-suwon/code_review.png
  blog/2023/05-14-suwon/code_rules.png
  blog/2023/05-14-suwon/index.md
Labels: blog

#55 blog: 05-10-won
  blog/2023/05-10-won/index.md
  blog/2023/05-10-won/spring_rest_docs.png
  blog/2023/05-10-won/swagger-logo.png
  blog/2023/05-10-won/swagger_example.PNG
  blog/2023/05-10-won/test_result.PNG
  blog/2023/05-10-won/validation_error.png
  blog/authors.yml
Labels: blog

#51 blog:05-08-tom
  blog/2023/05-08-tom/index.md
  blog/authors.yml
Labels: blog

#49 blog: 05-08-nunu
  blog/2023/05-07-nunu/index.md
  blog/authors.yml
Labels: blog

#48 Techblog by diana
  blog/2023/05-08-diana/JWT_format.png
  blog/2023/05-08-diana/JWT_signature.png
  blog/2023/05-08-diana/index.md
  blog/authors.yml
Labels: blog

#47 blog: 05-07-alvin
  blog/2023/05-07-alvin/index.md
  blog/authors.yml
Labels: blog

#46 blog: 05-07-jeuk
  blog/2023/05-07-jeuk/chatgpt.png
  blog/2023/05-07-jeuk/copilot.png
  blog/2023/05-07-jeuk/copilot2.png
  blog/2023/05-07-jeuk/find-replace.png
  blog/2023/05-07-jeuk/find.png
  blog/2023/05-07-jeuk/index.md
Labels: blog

#43 blog:05-07-arcticfox
  blog/2023/05-07-arcticfox/index.md
  blog/2023/05-07-arcticfox/seo.png
  blog/authors.yml
Labels: blog

#41 blog: 05-07-triangle
  blog/2023/05-07-triangle/index.md
  blog/2023/05-07-triangle/kakaotalk-error.png
  blog/2023/05-07-triangle/server-example.png
Labels: blog

#73 rules: create generated list page for each rules
  docs/rules.md
  docs/rules/design/220829.md
  docs/rules/design/230403.md
  docs/rules/design/_category_.json
  docs/rules/disciplinary/230403.md
  docs/rules/disciplinary/_category_.json
  docs/rules/general/210301.md
  docs/rules/general/220829.md
  docs/rules/general/230424.md
  docs/rules/general/_category_.json
  docs/rules/wheel/220829.md
  docs/rules/wheel/230403.md
  docs/rules/wheel/_category_.json
  docusaurus.config.js
  package-lock.json
  package.json
Labels: docs

#74 신구대조표: 2023년 8월 20일 회칙 개정
  docs/rules/general/230820.md
Labels: rule
